body {
	background: #222;
}
table {
	margin-top: -10px;
	margin-left: -10px;
	width: 570px;
	height: 545px;
	border-collapse: collapse;
	border-spacing: 0;
	
}
td {
	border: 9px solid #0E1B15;
	/*height: 20px;*/
}
.r1 {
	height: 55px;
}
.r2, .r3 {
	height: 135px;
}
.r4 {
	height: 75px;
}
.r5 {
	height: 65px;
}
.r6, .r7 {
	height: 38px;
}

.cut {
	background: #FFF;
	margin: 200px auto;
	width: 550px;
	height: 540px;
	overflow: hidden;
}