table {
	width: 560px;
	height: 545px;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 20px auto;
}
td {
	border: 9px solid #12201B;
	/*height: 20px;*/
}
.r1 {
	height: 55px;
}
.r2, .r3 {
	height: 135px;
}
.r4 {
	height: 75px;
}
.r5 {
	height: 65px;
}
.r6, .r7 {
	height: 38px;
}

